<div class="container" style="margin: 50px auto;">
 <div class="row">
   <div class="col-md-5"></div>
     <div class="col-md-4">
       <h3 class='text-center'>キャラクターを選択</h3>
     </div>
    <div class="col-md-3">
      <div class='text-right'>
        <div class="button">
        <%= link_to "もどる", edit_user_path(@user), class: "user_#{@user.id}" %></div>
      </div>
   </div>
 </div>

    <div class="row">
     <div class="col-md-4"></div>
     <div class="col-md-4">
      <%= form_for @user,url: {action: "update"} do |f| %>
      <div class='text-center'>
        <figure class="box2">
      <%= attachment_image_tag @user, :profile_image, size: "100x100",  fallback: "default1.png"%></figure><br>
      <%= f.attachment_field :profile_image %>
    </div>
      <br>
      <%= f.submit "これにする", class: "btn btn-success btn-block mt-5" %>
         <% end %>
    </div>
  </div>
  <br>
  <div class="selection-group">
    <div class="row text-center">
      <div class="col-md-2"></div>
      <div class="col-md-2">
       <input id="a" type="radio" name="rate" value="a">
  <label for="a">  <figure class="box2">
     <%= image_tag 'default1', size: "100x100" %> </label></figure></div>
     <div class="col-md-2">
      <input id="b" type="radio" name="rate" value="b">
  <label for="b">  <figure class="box2">
        <%= image_tag 'default2', size: "100x100" %></label></figure></div>
      <div class="col-md-2">
        <input id="c" type="radio" name="rate" value="c">
  <label for="c">  <figure class="box2">
        <%= image_tag 'default3', size: "100x100" %></label></figure></div>
        <div class="col-md-2">
          <input id="d" type="radio" name="rate" value="d">
  <label for="d">  <figure class="box2">
     <%= image_tag 'default4', size: "100x100" %></label></figure></div>
   </div>
   <br>

      <div class="row text-center">
          <div class="col-md-2"></div>
       <div class="col-md-2">
        <input id="e" type="radio" name="rate" value="e">
  <label for="e">  <figure class="box2">
        <%= image_tag 'default5', size: "100x100" %></label></figure></div>
        <div class="col-md-2">
          <input id="f" type="radio" name="rate" value="f">
  <label for="f">  <figure class="box2">
        <%= image_tag 'default6', size: "100x100" %></label></figure></div>
        <div class="col-md-2">
           <input id="g" type="radio" name="rate" value="g">
  <label for="g">  <figure class="box2">
       <%= image_tag 'default7', size: "100x100" %> </label></figure></div>
     <div class="col-md-2">
       <input id="h" type="radio" name="rate" value="h">
  <label for="h">  <figure class="box2">
      <%= image_tag 'default8', size: "100x100" %></label></figure></div>
    </div>
      </div>
     </div>
    </div>
  </div>
 </div>
</div>
