<div class="container" style="margin: 50px auto;">
 <div class="row">
   <div class="col-md-4"></div>
     <div class="col-md-4">
       <h2>プロフィール編集</h2>
     </div>
    <div class="col-md-4">
  <div class="button">
<%= link_to "もどる", user_path(@user), class: "user_#{@user.id}" %></div>
  <div class="button">
     <%= link_to "キャラ変更", user_choice_path(@user), class: "user_#{@user.id}" %>
  </div>
     </div>
  </div>

     <!-- 画像選択欄 -->
  <div class="row">
   <div class="col-md-3"></div>

     <div class="col-md-6">
       <div class='text-center'>
         <%= form_for(@user) do |f| %>
          <figure class="box2">
          <%= attachment_image_tag @user, :profile_image, size: "100x100",  fallback: "default#{@user.default_image}.png", class: "image-choice" %>
          </figure>
          <div class="form-image">
           <%= f.attachment_field :profile_image , size: "100x100"%>
          </div>
          <div class="field">
          <p>お名前（ニックネーム）</p>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control offset-6 col-6" %></div>

          <div class="field">
            <p>メールアドレス</p>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control offset-6 col-6" %>
          </div>

          <div class="field">
            <p>これから始めようとしている、または初めて間もないことは何ですか？<br>
            (例)プログラミング</p>
            <%= f.text_field :beginner_thing, autofocus: true, autocomplete: "beginner_thing", class: "form-control offset-6 col-6" %>
            <br>
          <div class="field">
            <p>はじめてどのくらいですか？</p>
            <%= f.text_field :beginner_period, autofocus: true, autocomplete: "beginner_period", class: "form-control offset-6 col-6" %>
          </div>

          <div class="field">
            <p>どのくらいのレベルですか？
            (例)簡単なアプリを一人で作れる程度</p>
            <%= f.text_field :beginner_level, autofocus: true, autocomplete: "beginner_level", class: "form-control offset-6 col-6" %>
          </div>


          <div class="field">
          <p>何か得意なこと、人にアドバイスできることはありますか？
            <br>(例)英会話</p>
            <%= f.text_field :expert_thing, autofocus: true, autocomplete: "expert_thing", class: "form-control offset-6 col-6" %>
          </div>


          <div class="field">
            <p>はじめてどのくらいですか？</p>
            <%= f.text_field :expert_period, autofocus: true, autocomplete: "expert_period", class: "form-control offset-6 col-6" %>
          </div>


          <div class="field">
            <p>どのくらいのレベルですか？<br>
            （例）アメリカに１年留学行ってました。日常会話を話せる程度</p>
            <%= f.text_field :expert_level, autofocus: true, autocomplete: "expert_level", class: "form-control offset-6 col-6" %>
          </div>

          <div class="field">
            <p>自己紹介</p>
            <%= f.text_area :introduction, rows:'10', autofocus: true, autocomplete: "introduction", class: "form-control",placeholder: "投稿したい内容をここに書いてね" %>
          </div>

          <div class="field">
            <p>パスワード(6文字以上)</p>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control offset-6 col-6" %>
          </div>


          <div class="field">
            <p>パスワード確認用</p>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control offset-6 col-6" %>
          </div>
           <br>

            <%= f.submit "プロフィール変更", class: "btn btn-primary btn-block mt-5" %>
            <% end %>
        </div>
      </div>
    </div>
      <div class="col-md-3"></div>
  </div>
</div>
                </div>