<div class=container>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
		<h2>仲間をみつけよう</h2>
	    </div>
	    <div class="col-md-4"></div>
    </div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th colspan="3"></th>
						</tr>
					</thead>

					<tbody>
						<% @users.each do |user| %>
						<tr>
							<td>

							<%= link_to user_path(user.id) do %>
			                <figure class="box">
								<%= attachment_image_tag(user, :profile_image, size: "100x100", fallback: "default#{user.default_image}.png") %>
							</figure>
						    </td>
							<td><%= user.name %><br>
								<%= user.beginner_thing %>初心者です！<br>
								レベル：<%= user.beginner_level %>程度<br>
								<%= user.expert_thing %>は得意です！<br>
								レベル：<%= user.expert_level %>程度
							</td>
						</tr>
						<% end %>
						<% end %>
					</tbody>
				</table>
		<div class="col-md-2"></div>
		</div>
	</div>
</div>
