<div class="index-container" style="width:40%; margin: 50px auto;">
	<div class="row">

		<h2>ユーザー一覧</h2>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td><%= attachment_image_tag(user, :profile_image, :fill, 20, 20, fallback: "default1.png") %></td>
					<td><%= user.name %></td>
					<!-- ここにフォローボタンを追加 -->
					<!-- 左辺が未定義または偽なら代入(左辺をまず評価して、結果が真なら何もせず、偽なら右辺へ代入する) -->
					<!-- userまたはuserが偽なら今ログインしているuser -->
					<% user ||= current_user %>
					<td><%= user.follower.count %></td>
					<td><%= user.followed.count %></td>

					<td><!-- 今ログインしているユーザーがuserじゃない(自分にフォローできなくする) -->
						<% if user != current_user %>
						<!-- 今ログインしているユーザーがフォローをしていれば-->
						<% if current_user.following?(user) %>
						<%= link_to "フォロー外す", unfollow_path(user.id), method: :POST %>
						<% else %>
						<%= link_to "フォローする", follow_path(user.id), method: :POST %>
						<% end %>
						<% end %>
					</td>
					<!-- ここにフォローボタンを追加 -->

					<td><%= link_to "Show", user_path(user), class: "user_#{user.id}" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>