<br><br>

<div class=container>

	<div class="row">
    <div class="col-xs-3">
     	<div class="input-group">
     		<span class="input-group-btn">
      		<%= search_form_for @search, url: users_path do |f| %>
      		<%= f.search_field :name_or_beginner_thing_or_beginner_level_or_expert_thing_or_expert_level_cont ,class: "form-control" ,placeholder: "探してみてね"%>
          
      		<%= f.submit '検索' , class: 'btn btn-default'%>
      		<% end %>
      	  </span>
      	</div>
      </div>
   </div>
	<!-- 検索ボタン -->
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
		<h2>仲間をみつけよう</h2>
      
	    </div>
	    <div class="col-md-4"></div>
    </div>

	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-8">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th><%= sort_link(@search, :created_at, '登録日時') %></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td>

						<%= link_to user_path(user.id) do %>
		                <figure class="box">
							<%= attachment_image_tag(user, :profile_image, size: "100x100", fallback: "default#{user.default_image}.png") %>
						</figure>
					    </td>
						<td><%= user.name %><br>
							<%= user.beginner_thing %>初心者です！<br>
							レベル：<%= user.beginner_level %>程度<br>
							<%= user.expert_thing %>は得意です！<br>
							レベル：<%= user.expert_level %>程度
						</td>
					</tr>
					<% end %>
					<% end %>
				</tbody>
			</table>
		<div class="col-md-1"></div>
		</div>
		</div>
		</div>
