<div class="container">
  <div class="row">
	<div class="col-xs-3">
	  <h2>マイページ</h2>
		 <table class="table">
		  <tr>
		  	<figure class="box2">
	          <%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "default1.png") %>
            </figure>
           </tr>
         <tr>
		<th>お名前</th>
	   <th><%= @user.name %></th>
	</tr>
	<!-- フォロー機能 -->
	<% @user ||= current_user %>
	<tr>
		<th>フォロー</th>
		<th> <%= link_to @user.follower.count,following_path(@user), class: "user_#{@user.id}" %></th>
	</tr>
	<tr>
		<th>フォロワー</th>
		<th> <%= link_to @user.followed.count,followed_path(@user), class: "user_#{@user.id}" %></th>
	</tr>
	       </table>
	<!-- フォローボタン-->
			<!--  @user = User.find(params[:id]) -->
		   <% @user ||= current_user %>
			<% if @user != current_user %>
			<% if current_user.following?(@user) %>
			<%= link_to "フォロー外す", unfollow_path(@user.id), method: :POST, class: "btn btn-primary" %>
			<% else %>
			<%= link_to "フォローする", follow_path(@user.id), method: :POST, class: "btn btn-success" %>
			<% end %>
			<% end %>
	<!-- フォローボタン-->
	 <div class='btn-sticky'>
	<%= link_to 'プロフィール編集', edit_user_path(@user) %>
	 </div>
	 <div class='btn-sticky2'>
	<%= link_to '投稿する', new_post_path %>
    </div>
　</div>
	 <div class="col-xs-1"></div>
			<div class="col-xs-8">
				<br><br><br><br><br>
				<h5>あなたは<%= @user.beginner_thing %>初心者さんです！<br>
				<%= @user.beginner_thing %>歴：<%= @user.beginner_period %> レベル：<%= @user.beginner_level %>程度</h5><br><br>
				<h5>あなたは<%= @user.expert_thing %>の有識者さんです！<br>
				<%= @user.expert_thing %>歴：<%= @user.expert_period %> レベル：<%= @user.expert_level %>程度</h5>
				<br>
              <h3><i class="fa fa-chevron-right"></i>自己紹介</h3>
　　　　　　　　　<div class="nomadBox2">
				<p><%= @user.introduction %></p>
            </div>
          </div>
	</div>
</div>