<div class="container">
  <div class="row">
  	<div class="col-md-3">
    </div>
    <div class="col-md-6">
	   <div class="about-text">
	     <div style = "text-align: center">
			<br>
            <%= image_tag 'biginner1.png', size: "100x100",class:"biginner-image"%>
			<h4>びーとーくとは</h4>

			<p style ="size: 10000px;">びーとーくは初心者同士の交流サイトです。<br>
				何かをはじめたいけど、何をしたらいいのかわからない…<br>
				モチベーションが続くか不安…<br>
				誰かと励まし合いたい…<br>
				ここには初心者しかいません。<br>
			誰かと気軽に交流してみませんか？</p>
		</div>
	   </div>
	</div>
	<div class="col-md-3">
    </div>
  </div>
  <br>
   <div class="row">
	    <div class="col-md-4">
	      <div class="nomadBox_deco82">
	      	<%= image_tag 'biginner2.png', size: "75x100",class:"biginner-image"%>
	    	投稿してみよう！例えば…<br>
			プログラミングをやってみたい。どの教材がおすすめですか？<br><br>
			オンライン英会話を始めたい。同じ境遇の人いませんか？<br><br>
			ダイエットを頑張っているけどくじけそう…励まし合いませんか？
			<br><br>
			みんな初心者です。気軽に投稿してみてくださいね

	     </div>
	    </div>
	    <div class="col-md-4">
	      <div class="nomadBox_deco9">
	        <%= image_tag 'biginner3.png', size: "100x100",class:"biginner-image"%>
	        コメントをしてみよう！<br>
			やる気が出ない・・・誰か励ましてくれ・・・モチベーションが0だ・・・でもやらなきゃ・・・<br><br>
			こんな投稿をしている仲間たちに優しい言葉をかけてあげてください<br><br>
			頑張ろうボタンを押すだけでもやる気が出るはず！<br><br>
			みんなで励まし合いましょう！
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="nomadBox_deco8">
	      	<%= image_tag 'biginner5.png', size: "100x100",class:"biginner-image"%>
	    	頑張ろう!してみよう<br>
			誰かのコメントの頑張ろうボタンを押してみてください<br><br>
			押された方も、押した方もモチベーションアップ！<br><br>
			ありがとうボタンを押してモチベーションアップ！<br><br>
			目標に向かってみんなで頑張っていけたらいいですよね
	      </div>
	   </div>
    </div>

  <div class="row">
    <div class="col-md-4">
      <div class="nomadBox_deco9">
      	<p>
        <div style = "text-align: center">
    	マイページでできること</div><br>
        プロフィール編集ボタンで編集ができます<br><br>
		自分の好きな写真をアイコンにできます<br><br>
		キャラ変ボタンでかわいいキャラクターを選択できます<br><br>
        いつでもプロフィールは変更できます
        </p>

     </div>
    </div>
    <div class="col-md-4">
      <div class="nomadBox_deco8">
      	<p>
      	 <div style = "text-align: center">
    	みんなの投稿ページ</div><br>

		みんなの投稿の一覧です。左上の検索バーで検索ができます<br><br>

		「プログラミング」「ダイエット」etc...自分の好きなトピックを探してみてくださいね<br><br>

		初心者仲間たちページでユーザーの検索もできます

	</p>

      </div>
    </div>
    <div class="col-md-4">
      <div class="nomadBox_deco82">
      	<p><div style = "text-align: center">
    	投稿とコメントするには</div><br>
		みんなの投稿ページの右上の鉛筆ボタンを押すと投稿ができます<br><br>

		投稿のタイトルを押すと詳細ページへいきます<br><br>

		詳細ページでコメント・頑張ろう・ありがとうができます<br></p>
      </div>
    </div>
   </div>

 
 <%= render 'layouts/footer' %>
</div>