<div class="container">
  <div class="row">
  	<div class="col-md-3">
    </div>
    <div class="col-md-6">
	   <div class="about-text">
	     <div style = "text-align: center">
			<br>
            <%= image_tag 'biginner1.png', size: "100x100",class:"biginner-image"%>
			<h4>ようこそ！びーとーくへ</h4>

			<p style ="size: 10000px;">びーとーくは初心者同士の交流サイトです。<br>
				何かをはじめたいけど、何をしたらいいのかわからない…<br>
				モチベーションが続くか不安…<br>
				誰かと励まし合いたい…<br>
				これから新しく何かに挑戦しようと思っている方<br>
				ここには初心者しかいません。<br>
			誰かと気軽に交流してみませんか？</p>
		</div>
	   </div>
	</div>
	<div class="col-md-3">>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="nomadBox_deco9">
      	<p>
        <div style = "text-align: center">
    	びーとーくでできること①</div><br><br>

		あなたの投稿に誰かがコメントをつけてくれます<br><br>
		コメントを返すことができます<br><br>
        頑張ろうボタンで励ましあえます<br><br>
        </p>

     </div>
    </div>
    <div class="col-md-4">
      <div class="nomadBox_deco8">
      	<p>
      	 <div style = "text-align: center">
    	びーとーくでできること②</div><br><br>

		会員登録時に「自分の得意なこと」が登録できます<br><br>

		質問をして、アドバイスをもらったら、今度は自分の得意なことを他の誰かに教えてあげることができます<br><br></p>

      </div>
    </div>
    <div class="col-md-4">
      <div class="nomadBox_deco82">
      	<p><div style = "text-align: center">
    	びーとーくでできること③</div>
    	<br><br>
		ありがとうボタンでお礼を言うことができます<br><br>

		ありがとうボタンでお礼を言われて嬉しい気持ちになります<br><br><br></p>
      </div>
    </div>
   </div>
  <div class="row">
	    <div class="col-md-4">
	      <div class="nomadBox_deco82">
	      	<%= image_tag 'biginner2.png', size: "75x100",class:"biginner-image"%>
	    	例えば…<br>
			プログラミングをやってみたい。どの教材がおすすめですか？<br><br>
			オンライン英会話を始めたい。同じ境遇の人いませんか？<br><br>
			ダイエットを頑張っているけどくじけそう…励まし合いませんか？
			<br><br>
	     </div>
	    </div>
	    <div class="col-md-4">
	      <div class="nomadBox_deco9">
	        <%= image_tag 'biginner3.png', size: "100x100",class:"biginner-image"%>
	        のぞいてみませんか？<br>
			いつも三日坊主で終わってしまう・・・でも、仲間がいると頑張れる気がしませんか？<br><br>
			登録なしでも投稿の一覧が見れます！左のサイドバーからみんなの投稿をクリックしてみてください<br><br>
			きっと同じような悩みを持った仲間がいるはずです
	      </div>
	    </div>
	    <div class="col-md-4">
	      <div class="nomadBox_deco8">
	      	<%= image_tag 'biginner5.png', size: "100x100",class:"biginner-image"%>
	    	登録すると…<br>
	    	コメントを投稿することができます！<br><br>
			コメントの詳細が見れます！<br><br>
			誰かの投稿にコメントができます！<br><br>
			ありがとう！頑張ろう！ボタンが押せます！<br><br>
			仲間をフォローできます！
	      </div>
	   </div>
    </div>
 <%= render 'layouts/footer' %>
</div>