
   <!-- 頑張ろうね機能 -->
<table class="table-borderless">
  <tbody>
      <tr>
      	<th style="width:360px;"></th>
      	<th>頑張ろう</th>
   		<th style="width:60px;">
   		</th>
	    <th >
	      <div class="heart">
          <% if exist_do_our_best %>
		      <div class="Heart-Inner-Box-Item-Likes-Icon exist-heart">
		        <div class="heart_count_css">
				  <%= link_to "", do_our_best_path, method: :delete, remote: true %>
			    </div>
				<div class="heart_count_css2">
				   <span class="do_our_bests_count">
				   <%= do_our_best_count %>
				   </span>
			    </div>
			   </div>
			     <% else %>
		      <div class="Heart-Inner-Box-Item-Likes-Icon">
			    <div class="heart_count_css">
			    <%= link_to "",do_our_best_path, method: :post, remote: true %>
			   </div>
		        <div class="heart_count_css2">
				  <span class="do_our_bests_count">
				  <%= do_our_best_count %>
				  </span>
			    </div>
              </div>
   		          <% end %>
   		  </div>
   		</th>

         <th>
		   <% if user == current_user && is_post %>
		     <div class='btn-sticky2'>
		   <%= link_to "編集", edit_post_path(find_post) %>
	         </div>
	         <div class='btn-sticky'>
		   <%= link_to "削除", post_path(find_post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>
		    </div>
		   <% end %>
         </th>
	  </tr>
   </tbody>
</table>