
   <!-- 頑張ろうね機能 -->
<table class="table-borderless">
  <tbody>
    <%= find_post.body %>
      <tr>
	    <th>
          <div class="Heart-Inner-Box-Item-Likes-Icon">	
          	<% if find_post.do_our_best_by?(current_user) %>
			<%= link_to "", post_do_our_bests_path(find_post), method: :delete, remote: true %>
			   <%#= find_post.do_our_bests.count %>
		  <%# end %>
		  <% else %>
		    <%= link_to "",post_do_our_bests_path(find_post),class:"fuga", method: :post, remote: true %>
   		  <% end %>
          </div>
		</th>
　　<!-- ありがとう機能 -->
        <th>
　　　　　　<% if find_post.thank_you_by?(current_user) %>
			<%= link_to post_thank_yous_path(find_post), method: :delete, remote: true do %>
			<i class="fas fa-laugh-beam"></i>
			   <%= find_post.thank_yous.count %>
		  <% end %>
		  <% else %>
		    <%= link_to post_thank_yous_path(find_post), method: :post, remote: true do %>
			 <i class="far fa-laugh-beam"></i>
						ありがとう！
			<% end %>
		  <% end %>
		</th>
		<th>
		  コメント数:<%= post_comments.count %>件
		</th>
		<!-- もし、投稿をしたユーザー(@user = @find_post.user)と現在ログインしているユーザー(current_user)が一致していたらEditとDestroyを表示 -->
		<th>
		<% if user == current_user %>
		<%= link_to "Edit", edit_post_path(find_post), class: "btn-sm btn-success edit_post_#{find_post.id}" %>
		<%= link_to "Destroy", post_path(find_post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_post_#{find_post.id}" %>
		<% end %>
	    </th>
	　 </tr>
　　</tbody>
</table>