
<!-- 投稿一覧 -->
<div class="card mb-1">
  <div class="card-body">
    <table class="table-borderless">
   	  <table class=" table-hover">
	    <tbody>
		  <% posts.each do |post| %>
		    <tr>
			  <td>

			  <%= link_to user_path(post.user) do %>
			  <figure class="box">
			  <%= attachment_image_tag(post.user, :profile_image, size: "100x100", fallback: "default1.png") %></figure>
			  <% end %>
			  </td>
			  <td>
			    <p class="card-text">
			  <%= link_to post.title, post_path(post), data: {"turbolinks" => false} ,class: "post_#{post.id}" %></p></td>
              <td>
	            <p class="card-text">
	              <small>
		      <%= simple_format post.body %></small>
		        </p>
		      </td>
			  <td>コメント数:<%= post.post_comments.count %>件
		     </td>
		   </tr>
			 <% end %>
		</tbody>
	  </table>
    </table>
  </div>
</div>