<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		  <div class="col-md-6">
		   <!-- 投稿のタイトル -->
			<h2><%=  @find_post.title %></h2>
		  </div>
		  <div class="col-md-1"></div>
		<div class="col-md-1">
			<div class="button">
			<%= link_to 'もどる', posts_path %>
		    </div>
		</div>
		<div class="col-md-1">
   <!-- 新規投稿ボタン -->
        <div class="btn-real">
          <div class="buttoncontent"  data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-pencil-alt"></i>
          </div>
        </div>
     </div>
	</div>
     <br>
   <!-- 投稿の本文 -->
	<div class="row">
	  <div class="col-md-2"></div>
		  <div class="col-md-1">
		     <figure class="box2">
				<%= link_to user_path(@find_post.user.id) do %>
				<%= attachment_image_tag(@find_post.user, :profile_image, size: "100x100", fallback: "default#{@user.default_image}.png") %>
				<%= @find_post.user.name %>
				<% end %>
			</figure>
		  </div>
		  <div class="col-md-8 ">
            <div class="nomadBox_deco8">
            	<%= @find_post.body %>
            	<!-- ありがとう機能呼び出し -->
		      <div class="post_<%= @find_post.id %>">
		      	<% p @find_post.do_our_best_by?(current_user) %>
                <%= render 'detail',exist_do_our_best:@find_post.do_our_best_by?(current_user), do_our_best_count:@do_our_bests_count,find_post: @find_post,user:@user,do_our_best_path:post_do_our_bests_path(@find_post),is_post:true %>
              </div>
		    </div>
          </div>
      </div>


<!-- コメント表示欄作成 -->

	<div class="row">
	<% @post_comments.each do |post_comment| %>
		<div class="col-md-2">

		</div>
	  <div class="col-md-1">
	     <figure class="box2">
			<%= link_to user_path(post_comment.user.id) do %>
			<%= attachment_image_tag(post_comment.user, :profile_image, size: "100x100", fallback: "default#{post_comment.user.default_image}.png") %>
			<br>
			<%= post_comment.user.name %>
			<% end %>
	  	</figure>
	  </div>

	  <div class="col-md-8">
	    <div class="nomadBox_deco82 test ">
	      <table class="table-borderless">
          <tbody>
          	<%= post_comment.comment %>
          	<tr>
	        	<th>
	        		<!-- 頑張ろう機能 -->
	        	  <div class="post_comment_<%= post_comment.id %>">
                   <%= render 'detail',exist_do_our_best:post_comment.do_our_best_by?(current_user), do_our_best_count:post_comment.do_our_bests.count,find_post: @find_post,user:@user,do_our_best_path:post_comment_do_our_bests_path(post_comment),is_post:false %>
                  </div>
                </th>
                <!-- ありがとう機能 -->
                <th  id="post_comment_<%= post_comment.id %>" style="width:130px;">
	              	<%= render 'post_comments/thanks',comment: post_comment,find_post: @find_post, user: @user, post_comment: post_comment%>
	        	</th>

                <th style="width:65px;">
                	<% if post_comment.user == current_user%>
	          	  <div class='btn-sticky'>
	                <%= link_to "削除", post_comment_path(post_comment), method: :delete %>
	            	<% end %>
	          	  </div>
	        	</th>
     		</tr>
	   		</tbody>
    	  </table>
		</div>
       </div>
                   <% end %>
   </div>

			<!-- コメント欄作成 -->
	<div class="row">
	  <div class="col-md-3"></div>

	  <div class="col-md-7">
	    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
	        <div class="modal-content">
	          <div class="modal-header">
	            <h5 class="modal-title" id="exampleModalLabel">コメント</h5>
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	              <span aria-hidden="true">&times;</span>
	              </button>
	          </div>
	      <%= form_for  [@post_comment], remote: true do |f| %>
	        <div class="modal-body">
	          <div class="form-group">
	            <%= f.label :comment, "内容" %>
	            <%= f.text_area :comment, rows:'10', class:"form-control" %>
	          </div>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
	          <%= f.hidden_field :post_id, :value => @find_post.id %>
	          <%= f.submit "送信", class:"btn btn-primary" %>
	        </div>
             <% end %>
		    </div>
		  </div>
		</div>
	</div>
  </div>
</div>